extends layout

block content
  .container
    .row.black-row
      .col-md-6.col-sm-6.col-xs-6.text-left
        span.text-uppercase.text-muted.text-bold www.belt-light.com.ua
        span.hidden-sm.hidden-xs.text-uppercase.text-muted.text-bold info@belt-light.com.ua
      .col-md-6.col-sm-6.col-xs-6.text-right
        span.hidden-sm.hidden-xs.text-uppercase.text-muted.text-bold (048) 775-10-73
        span.text-uppercase.text-muted.text-bold (067) 484-21-26
        span.text-uppercase.hidden-xs.text-muted.text-bold (099) 755-26-57
    .row.header.text-center
      ul.nav.anchor.nav-pills.col-md-4.col-sm-12.col-xs-12(style='margin-top: 11px;')
        li(role='presentation')
          a.anchor.text-uppercase.color-black.text-bold(href='#sell') продажа
        li(role='presentation')
          a.anchor.text-uppercase.color-black.text-bold(href='#lend') аренда
        li(role='presentation')
          a.anchor.text-uppercase.color-black.text-bold(href='#set') монтаж
      .col-md-4.col-sm-12.col-xs-12
        img.img-responsive(src='/images/constImages/logo.png')
      .col-md-4.col-sm-12.col-xs-12.text-center
        div(style='margin-top: 20px')
          .col-xs-3
            a.btn.btn-social-icon.btn-vk(href='http://www.vk.com', target='_blank')
              span.fa.fa-vk
          .col-xs-3
            a.btn.btn-social-icon.btn-facebook
              span.fa.fa-facebook
          .col-xs-3
            a.btn.btn-social-icon.btn-twitter
              span.fa.fa-twitter
          .col-xs-3
            a.btn.btn-social-icon.btn.btn-success(href='mailto:info@belt-light.com.ua')
              span.glyphicon.glyphicon-envelope
    .row
        #jssor_1(style='position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1170px; height: 400px; overflow: hidden; visibility: hidden;')
            div(data-u='loading', style='position: absolute; top: 0px; left: 0px;')
                div(style='filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;')
            div(data-u='slides', style='cursor: default; position: relative; top: 0px; left: 0px; width: 1170px; height: 400px; overflow: hidden;')
                each slide in slider
                  div(style='display: none;')
                      img(data-u='image', src=slide)
            .jssorb05(data-u='navigator', style='bottom:16px;right:16px;', data-autocenter='1')
                div(data-u='prototype', style='width:16px;height:16px;')
            // Arrow Navigator
            span.jssora12l(data-u='arrowleft', style='top:0px;left:0px;width:30px;height:46px;', data-autocenter='2')
            span.jssora12r(data-u='arrowright', style='top:0px;right:0px;width:30px;height:46px;', data-autocenter='2')

      .row(style='margin-top: 20px')
      .panel.panel-default
        .panel-heading.text-uppercase.text-bold.text-space о гирляндах belt - light
        .panel-body
          !{mainText}
    .row(style='margin-top: 20px')
      #sell.panel.panel-default
        .panel-heading.text-uppercase.text-bold.text-space продажа
        .panel-body
          !{saleText}
          each item, index in items
            .item
              h4.item-name !{item.name}
              div(id="carousel-#{index}").carousel
                each photo in item.photos
                  img(src=photo)
              ul.nav.nav-tabs
                li.active
                  a.color-black.text-bold(data-toggle='tab', href='#desc-#{index}') Описание
                li
                  a.color-black.text-bold(data-toggle='tab', href='#spec-#{index}') Характеристики
                li
                  a.color-black.text-bold(data-toggle='tab', href='#price-#{index}') Цены
                li
                  a.color-black.text-bold(data-toggle='tab', href='#realative-#{index}') Сопутствующие товары
              .tab-content
                div(id="desc-#{index}").tab-pane.fade.in.active
                  !{item.desc}
                div(id="spec-#{index}").tab-pane.fade
                  !{item.attr}
                div(id="price-#{index}").tab-pane.fade
                  !{item.price}
                div(id="realative-#{index}").tab-pane.fade
    .row(style='margin-top: 20px')
      #lend.panel.panel-default
        .panel-heading.text-uppercase.text-bold.text-space аренда
        .panel-body
          !{lendText}
    #set.row(style='margin-top: 20px')
      .panel.panel-default
        .panel-heading.text-uppercase.text-bold.text-space монтаж
        .panel-body
          !{setText}
    .row(style='margin-top: 20px')
      .panel.panel-default
        .panel-heading.text-uppercase.text-bold.text-space обратная связь
        .panel-body
          ul.nav.nav-tabs
            li.active.color-black.text-bold
              a(data-toggle='tab', href='#mail') Написать нам
          .tab-content
            #mail.tab-pane.fade.in.active
              form#feedback.col-md-offset-6.form-horizontal(name='feedback', style='margin-top: 20px')
                .form-group
                  label.col-sm-2.control-label(for='inputName') Имя
                  .col-sm-10
                    input#inputName.form-control(required placeholder='Имя')
                .form-group
                  label.col-sm-2.control-label(for='inputEmail3') Email
                  .col-sm-10
                    input#inputEmail3.form-control(type='email', placeholder='Email')
                .form-group
                  label.col-sm-2.control-label(for='inputTelephone') Телефон
                  .col-sm-10
                    input#inputTelephone.form-control(required placeholder='Телефон')
                .form-group
                  label.col-sm-2.control-label(for='inputText') Сообщение
                  .col-sm-10
                    textarea#inputText.form-control(required rows='6' placeholder='Сообщение')
                .form-group
                  .col-xs-offset-4.col-sm-offset-2.col-md-offset-2.col-xs-7
                    button.btn.btn-danger(type='submit') Отправить
            .row
              #map.col-xs-12
    .row(style='background-color: black;')
      .text-bold(style='color: white; font-size: 36px; padding-left: 10px') BELT - LIGHT
    .row(style='background-color: white; height: 10px')
      span.lamp
      span.lamp.lamp1
      span.lamp.lamp2
      span.lamp.lamp3
      span.lamp.lamp4
      span.lamp.lamp5
    .row(style='background-color: black;')
      .info-block.col-xs-3
        span.text-uppercase www.belt-light.com.ua
        br
        span.text-uppercase info@belt-light.com.ua
        .socials
            a.btn.btn-social-icon.btn-vk(href='http://www.vk.com', target='_blank')
              span.fa.fa-vk
            a.btn.btn-social-icon.btn-facebook(href='http://www.facebook.com', target='_blank')
              span.fa.fa-facebook
            a.btn.btn-social-icon.btn-twitter(href='http://www.twitter.com', target='_blank')
              span.fa.fa-twitter
            a.btn.btn-social-icon.btn.btn-success(href='mailto:info@belt-light.com.ua')
              span.glyphicon.glyphicon-envelope
      .col-xs-9(style="text-align: right")
        span.adress УКРАИНА | Г.ОДЕССА | УЛ.ГАСТЕЛЛО 52/1 | (048)775-10-73 | (067)484-21-26 | (099)755-26-57

  #myModal.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal') ×
          h4.modal-title Спасибо!
        .modal-body
          p Мы свяжемся с вами по Вашему вопросу
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
  script.
        function initMap() {
            var myLatLng = { lat: 46.4495061, lng: 30.6838767 };
            var mapDiv = document.getElementById('map');
            var map = new google.maps.Map(mapDiv, {
                center: myLatLng,
                zoom: 17
            });
            var marker = new google.maps.Marker({
                position: myLatLng,
                map: map
            });
        }
  script(src='javascripts/jquery.min.js')
  script(src='javascripts/bootstrap.min.js')
  script(src='javascripts/jquery.waterwheelCarousel.js')
  script(src='javascripts/jssor.slider.mini.js')
  script(src='javascripts/app.js')
  script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBtlwVYW0mcGAuaqXoDCQ7g6bOtGjnkgmY&language=ru&callback=initMap")
