@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/bootstrap-social/bootstrap-social.scss";
@import "../../bower_components/font-awesome/scss/font-awesome";

$black-row-height: 40px;


body {
  font-family: "Helvetica Neue", Helvetica, Arial !important;
}

.carousel {
  height: 300px;
  width: 100%;
}

.carousel img {
  cursor: pointer;
}

.color-red {
  color: red;
}

.text-bold {
  font-weight: bold;
}

.text-space {
  letter-spacing: 1px;
}

.color-black {
  color: black;
}

.black-row {
  background-color: #222;
  border-radius: 6px;
  height: $black-row-height;
  span {
    display: inline-block;
    padding: 0 10px;
    color: white;
    line-height: $black-row-height;
  }
}

.header {
  height: 100px;
  line-height: 50px;
}

.carousel-inner {
  .item {
    width: 100%;
    height: 300px;
    max-height: 300px;
  }
}

.item-name {
  font-weight: bold;
  display: block;
  text-align: center;

  &:before {
    content: '';
    background-color: red;
    height: 12px;
    width: 7px;
    display: inline-block;
    position: relative;
    left: -10px;
  }
}

.panel-default {
  .panel-heading {
    border-radius: 5px;
    background-color: black;
    color: white;
  }
}

.panel {
  border: none;
}

.lamp {
  &:before {
    display: inline-block;
    position: relative;
    content: '';
    background-color: white;
    height: 10px;
    width: 6px;
    left: calc(100% - 50px);
    top: -10px;
  }
  &:after {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 30px;
    background-color: white;
    content: '';
    border-radius: 15px;
    left: calc(100% - 67px);
    top: 15px;
  }
  &.lamp1 {
    &:before {
      left: calc(100% - 150px);
    }
    &:after {
      left: calc(100% - 167px);
    }
  }
  &.lamp2 {
    &:before {
      left: calc(100% - 250px);
    }
    &:after {
      left: calc(100% - 267px);
    }
  }
  &.lamp3 {
    &:before {
      left: calc(100% - 350px);
    }
    &:after {
      left: calc(100% - 367px);
    }
  }
  &.lamp4 {
    &:before {
      left: calc(100% - 450px);
    }
    &:after {
      left: calc(100% - 467px);
    }
  }
  &.lamp5 {
    &:before {
      left: calc(100% - 550px);
    }
    &:after {
      left: calc(100% - 567px);
    }
  }
}

.info-block {
  padding: 12px;
  span {
    font-size: 16px;
    color: white;

  }
  .socials {
    margin-top: 15px;
    a:not(:first-child) {
      margin-left: 4px;
    }
  }
}
.adress {
  position: relative;
  bottom: -80px;
  font-size: 18px;
  color: white;
}

#map {
  height: 350px;
  padding: 3px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.jssorb05 {
   position: absolute;
}
.jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/constImages/b05.png') no-repeat;
  overflow: hidden;
  cursor: pointer;
}
.jssorb05 div { background-position: -7px -7px; }
.jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
.jssorb05 .av { background-position: -67px -7px; }
.jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

.jssora12l, .jssora12r{
  display: block;
  position: absolute;
  width: 30px;
  height: 46px;
  cursor: pointer;
  background: url('../images/constImages/a12.png') no-repeat;
  overflow: hidden;
}
.jssora12l { background-position: -16px -37px; }
.jssora12r { background-position: -75px -37px; }
.jssora12l:hover { background-position: -136px -37px; }
.jssora12r:hover { background-position: -195px -37px; }
.jssora12l.jssora12ldn { background-position: -256px -37px; }
.jssora12r.jssora12rdn { background-position: -315px -37px; }