extends layout

block content
    #wrapper
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/admin') BELT-LIGHT Admin
            // Top Menu Items
            ul.nav.navbar-right.top-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-user
                        |  #{user.email}
                        b.caret
                    ul.dropdown-menu.alert-dropdown
                        li
                            a(href='#')
                                | Logout
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.side-nav
                    li
                        a(href='/admin')
                            i.fa.fa-fw.fa-dashboard
                            |  Основной Текст
                    li
                        a(href='/admin/mainSlider')
                            i.fa.fa-fw.fa-dashboard
                            |  Главный Слайдер
                    li
                        a(href='/admin/items')
                            i.fa.fa-fw.fa-bar-chart-o
                            |  Товары
                    li
                        a(href='/admin/item/create')
                            i.fa.fa-fw.fa-table
                            |  Создать товар
                    li.active
                        a(href='/admin/feedbacks')
                            i.fa.fa-fw.fa-mail-reply
                            |  Письма
                            if (badge)
                                span.badge #{badge}
                    li
                        a(href='/admin/info')
                            i.fa.fa-fw.fa-phone
                            |  Доп. Информация
        row
            table.table.table-hover
                thead
                    tr
                        th №
                        th Имя
                        th Телефон
                        th Email
                        th Дата
                tbody
                    each feedback, index in feedbacks
                        tr(
                            id = feedback._id
                            class = feedback.seen ? "" : "success"
                            onclick = "goto(this)"
                           )
                                td #{ index }
                                td #{ feedback.name }
                                td #{ feedback.telephone }
                                td #{ feedback.email }
                                td #{ feedback.date }
    script.
        function goto(elem) {
           location = location.pathname + '/' + elem.id;
        }