extends layout

block content
    #wrapper
        // Navigation
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/admin') BELT-LIGHT Admin
            // Top Menu Items
            ul.nav.navbar-right.top-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-user
                        |  #{user.email}
                        b.caret
                    ul.dropdown-menu.alert-dropdown
                        li
                            a(href='#')
                                | Logout
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.side-nav
                    li.active
                        a(href='/admin')
                            i.fa.fa-fw.fa-dashboard
                            |  Основной Текст
                    li
                        a(href='/admin/mainSlider')
                            i.fa.fa-fw.fa-dashboard
                            |  Главный Слайдер
                    li
                        a(href='/admin/items')
                            i.fa.fa-fw.fa-bar-chart-o
                            |  Товары
                    li
                        a(href='/admin/item/create')
                            i.fa.fa-fw.fa-table
                            |  Создать товар
                    li
                        a(href='/admin/feedbacks')
                            i.fa.fa-fw.fa-mail-reply
                            |  Письма
                            if (badge)
                                span.badge #{badge}
                    li
                        a(href='/admin/info')
                            i.fa.fa-fw.fa-phone
                            |  Доп. Информация
            // /.navbar-collapse
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-bar-chart-o.fa-fw
                                    |  О гирляндах
                            .panel-body
                                    form
                                        textarea#editor1(name='editor1', rows='30', cols='80')
                                        button.btn.btn-primary(id="submit1") Сохранить
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-bar-chart-o.fa-fw
                                    |  Продажа
                            .panel-body
                                    form
                                        textarea#editor2(name='editor2', rows='30', cols='80')
                                        button.btn.btn-primary(id="submit2") Сохранить
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-bar-chart-o.fa-fw
                                    |  Аренда
                            .panel-body
                                form
                                    textarea#editor3(name='editor3', rows='30', cols='80')
                                    button.btn.btn-primary(id="submit3") Сохранить
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-bar-chart-o.fa-fw
                                    |  Монтаж
                            .panel-body
                                form
                                    textarea#editor4(name='editor4', rows='30', cols='80')
                                    button.btn.btn-primary(id="submit4") Сохранить
    script.
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');
        CKEDITOR.replace('editor3');
        CKEDITOR.replace('editor4');
        CKEDITOR.instances.editor1.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor1,
                                '!{mainText}'
                        )
        );
        CKEDITOR.instances.editor2.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor2,
                                '!{saleText}'
                        )
        );

        CKEDITOR.instances.editor3.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor3,
                                '!{lendText}'
                        )
        );

        CKEDITOR.instances.editor4.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor4,
                                '!{setText}'
                        )
        );

        function functionToBeExecutedWhenReady(text) {
            this.insertHtml(text);
        }

        function saveText(text, type) {
            var data = new FormData();
            data.append('text', text);
            $.ajax({
                type: "POST",
                url: "/admin/ckeditor/text?type=" + type,
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    $('#myModal').modal('show');
                }
            });
        }

        $("#submit1").click(function (e) {
            e.preventDefault();
            var text = CKEDITOR.instances.editor1.getData();
            saveText(text, 'main');
        });

        $("#submit2").click(function (e) {
            e.preventDefault();
            var text = CKEDITOR.instances.editor2.getData();
            saveText(text, 'sale')
        });

        $("#submit3").click(function (e) {
            e.preventDefault();
            var text = CKEDITOR.instances.editor3.getData();
            saveText(text, 'lend')
        });

        $("#submit4").click(function (e) {
            e.preventDefault();
            var text = CKEDITOR.instances.editor4.getData();
            saveText(text, 'set');
        });

