extends layout

block content
    #wrapper
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/admin') BELT-LIGHT Admin
            // Top Menu Items
            ul.nav.navbar-right.top-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-envelope
                        b.caret
                    ul.dropdown-menu.message-dropdown
                        li.message-preview
                            a(href='#')
                                .media
                                    span.pull-left
                                        img.media-object(src='http://placehold.it/50x50', alt='')
                                    .media-body
                                        h5.media-heading
                                            strong= user.email
                                        p.small.text-muted
                                            i.fa.fa-clock-o
                                            |  Yesterday at 4:32 PM
                                        p Lorem ipsum dolor sit amet, consectetur...
                        li.message-preview
                            a(href='#')
                                .media
                                    span.pull-left
                                        img.media-object(src='http://placehold.it/50x50', alt='')
                                    .media-body
                                        h5.media-heading
                                            strong #{user.email}
                                        p.small.text-muted
                                            i.fa.fa-clock-o
                                            |  Yesterday at 4:32 PM
                                        p Lorem ipsum dolor sit amet, consectetur...
                        li.message-preview
                            a(href='#')
                                .media
                                    span.pull-left
                                        img.media-object(src='http://placehold.it/50x50', alt='')
                                    .media-body
                                        h5.media-heading
                                            strong John Smith
                                        p.small.text-muted
                                            i.fa.fa-clock-o
                                            |  Yesterday at 4:32 PM
                                        p Lorem ipsum dolor sit amet, consectetur...
                        li.message-footer
                            a(href='#') Read All New Messages
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-user
                        |  #{user.email}
                        b.caret
                    ul.dropdown-menu.alert-dropdown
                        li
                            a(href='#')
                                | Logout
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.side-nav
                    li
                        a(href='/admin')
                            i.fa.fa-fw.fa-dashboard
                            |  Основной Текст
                    li
                        a(href='/admin/mainSlider')
                            i.fa.fa-fw.fa-dashboard
                            |  Главный Слайдер
                    li
                        a(href='/admin/items')
                            i.fa.fa-fw.fa-bar-chart-o
                            |  Товары
                    li.active
                        a(href='/admin/item/create')
                            i.fa.fa-fw.fa-table
                            |  Создать товар
                    li
                        a(href='/admin/feedbacks')
                            i.fa.fa-fw.fa-mail-reply
                            |  Письма
                            if (badge)
                                span.badge #{badge}
                    li
                        a(href='/admin/info')
                            i.fa.fa-fw.fa-phone
                            |  Доп. Информация
        #page-wrapper
            .container-fluid
                .row
                    .col-lg-12
                        .panel.panel-default
                            .panel-heading
                                h3.panel-title
                                    i.fa.fa-bar-chart-o.fa-fw
                                    |  Создать новый товар
                            .panel-body
                                form
                                    .form-group
                                        h2 Заголовок
                                        input.form-control(name='name')
                                    .form-group
                                        h2 Характерстики
                                        textarea#editor1(name='attr', rows='10', cols='80')
                                    .form-group
                                        h2 Описание
                                        textarea#editor2(name='desc', rows='10', cols='80')
                                    .form-group
                                        h2 Цены
                                        textarea#editor3(name='price', rows='10', cols='80')
                                    .form-group
                                        h2 Порядковый номер
                                        input.form-control(name='order')
                                    .form-group
                                        h2 Прикрепить фото
                                        h3 Картинки размером до 256px x 256px
                                        input#file(name='photo', type="file" multiple)
                                    button.btn.btn-primary(id="submit1") Сохранить
                .row
                    if (item && item.photos)
                        each photo in item.photos
                            .col-xs-2
                                a.thumbnail(href='#' id="#{photo}")
                                    span.glyphicon.glyphicon-remove-circle(aria-hidden="true", id="#{photo}")
                                    img(src='#{photo}', id="#{photo}")
    script.
        var id = '#{item._id}';
        function functionToBeExecutedWhenReady(text) {
            this.insertHtml(text);
        }
        $('form input[name="name"]').val('!{item.name}')
        $('form input[name="order"]').val('!{item.order}')
        CKEDITOR.replace('editor1');
        CKEDITOR.replace('editor2');
        CKEDITOR.replace('editor3');
        CKEDITOR.instances.editor1.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor1,
                                '!{item.attr}'
                        )
        );
        CKEDITOR.instances.editor2.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor2,
                                '!{item.desc}'
                        )
        );

        CKEDITOR.instances.editor3.on(
                'instanceReady',
                functionToBeExecutedWhenReady
                        .bind(
                                CKEDITOR.instances.editor3,
                                '!{item.price}'
                        )
        );
        $("#submit1").click(function (e) {
            e.preventDefault();
            var name = $('form input[name="name"]').val() || '';
            var order = $('form input[name="order"]').val() || '';
            var attr = CKEDITOR.instances.editor1.getData() || '';
            var desc = CKEDITOR.instances.editor2.getData() || '';
            var price = CKEDITOR.instances.editor3.getData() || '';
            var data = new FormData();

            if (id) {
                data.append('id', id);
            }
            data.append('name', name);
            data.append('order', order);
            data.append('attr', attr);
            data.append('desc', desc);
            data.append('price', price);
            jQuery.each(jQuery('#file')[0].files, function (i, file) {
                data.append('photo', file, file.name);
            });

            $.ajax({
                type: "POST",
                url: "/admin/item/create",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                success: function () {
                    alert("Товар Сохранен");
                    window.location = '/admin/items';
                }
            });
        });
        $('.thumbnail').click(function (e) {
            e.preventDefault();
            var data = new FormData();
            data.append('photoId', e.target.id);
            if (confirm("Удалить картинку?")) {
                $.ajax({
                    type: "PUT",
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    url: "/admin/item/" + id + "/photo",
                    success: function (data) {
                        $(e.target).parent().remove();
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.error(textStatus, errorThrown)
                    }
                });
            }
        });