extends layout

block content
    #wrapper
        nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
            // Brand and toggle get grouped for better mobile display
            .navbar-header
                button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/admin') BELT-LIGHT Admin
            // Top Menu Items
            ul.nav.navbar-right.top-nav
                li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                        i.fa.fa-user
                        |  #{user.email}
                        b.caret
                    ul.dropdown-menu.alert-dropdown
                        li
                            a(href='#')
                                | Logout
            // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
            .collapse.navbar-collapse.navbar-ex1-collapse
                ul.nav.navbar-nav.side-nav
                    li
                        a(href='/admin')
                            i.fa.fa-fw.fa-dashboard
                            |  Основной Текст
                    li
                        a(href='/admin/mainSlider')
                            i.fa.fa-fw.fa-dashboard
                            |  Главный Слайдер
                    li.active
                        a(href='/admin/items')
                            i.fa.fa-fw.fa-bar-chart-o
                            |  Товары
                    li
                        a(href='/admin/item/create')
                            i.fa.fa-fw.fa-table
                            |  Создать товар
                    li
                        a(href='/admin/feedbacks')
                            i.fa.fa-fw.fa-mail-reply
                            |  Письма
                            if (badge)
                                span.badge #{badge}
                    li
                        a(href='/admin/info')
                            i.fa.fa-fw.fa-phone
                            |  Доп. Информация
        #page-wrapper
            .container-fluid
                each row in items
                    .row
                        each item in row
                            .col-sm-6.col-md-4
                                .thumbnail
                                    img(src=item.photos[0] || 'http://neskuchnij.net/nophoto.jpg')
                                    .caption
                                        h3
                                        p #{ item.name }
                                        p Порядок: #{ item.order }
                                        a.btn.btn-primary.edit(href='/admin/item/edit/'+item._id, role='button') Редактировать
                                        a.btn.btn-danger.delete(id="#{item._id}" href='#', role='button') Удалить
    script.
        $('.delete').click(function (e){
            $.ajax({
                type: "DELETE",
                url: "/admin/item/delete/" + e.target.id,
                success: function (data) {
                    $('#' + e.target.id).parent().parent().parent().remove();
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.error(textStatus, errorThrown)
                }
            });
        });