doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        script(src='/admin/ckEditor/ckeditor.js')
        link(type='text/css', rel='stylesheet', href='/stylesheet/custom.css')
        link(type='text/css', rel='stylesheet', href='/admin/stylesheet/sb-admin.css')
        link(type='text/css', rel='stylesheet', href='/admin/stylesheet/custom.css')
        link(rel="shortcut icon" href="/images/constImages/favicon.ico" type="image/x-icon")
        title BELT-LIGHT
    body
        #myModal.modal.fade(role='dialog')
            .modal-dialog
                .modal-content
                    .modal-header
                        button.close(type='button', data-dismiss='modal') ×
                        h4.modal-title Спасибо!
                    .modal-body
                        p Сохранено
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') Закрыть
        block content