extends layout

block content
    block content
        #wrapper
            nav.navbar.navbar-inverse.navbar-fixed-top(role='navigation')
                // Brand and toggle get grouped for better mobile display
                .navbar-header
                    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-ex1-collapse')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/admin') BELT-LIGHT Admin
                // Top Menu Items
                ul.nav.navbar-right.top-nav
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown')
                            i.fa.fa-user
                            |  #{user.email}
                            b.caret
                        ul.dropdown-menu.alert-dropdown
                            li
                                a(href='#')
                                    | Logout
                // Sidebar Menu Items - These collapse to the responsive navigation menu on small screens
                .collapse.navbar-collapse.navbar-ex1-collapse
                    ul.nav.navbar-nav.side-nav
                        li
                            a(href='/admin')
                                i.fa.fa-fw.fa-dashboard
                                |  Основной Текст
                        li.active
                            a(href='/admin/mainSlider')
                                i.fa.fa-fw.fa-dashboard
                                |  Главный Слайдер
                        li
                            a(href='/admin/items')
                                i.fa.fa-fw.fa-bar-chart-o
                                |  Товары
                        li
                            a(href='/admin/item/create')
                                i.fa.fa-fw.fa-table
                                |  Создать товар
                        li
                            a(href='/admin/feedbacks')
                                i.fa.fa-fw.fa-mail-reply
                                |  Письма
                                if (badge)
                                    span.badge #{badge}
                        li
                            a(href='/admin/info')
                                i.fa.fa-fw.fa-phone
                                |  Доп. Информация
            #page-wrapper
                form
                    input#slide(name='slide', type="file" multiple)
                    button.btn.btn-primary(id="submit") Сохранить
                h3 Для удаления - щелкните по картинке
                .row
                    each slide in slider
                        a.thumbnail(href='#' id="#{slide._id}")
                            span.glyphicon.glyphicon-remove-circle(aria-hidden="true", id="#{slide._id}")
                            img(src='#{slide.path}', id="#{slide._id}")
        script.
            $("#submit").click(function (e) {
                e.preventDefault();
                var data = new FormData();
                jQuery.each(jQuery('#slide')[0].files, function (i, file) {
                    data.append('slide', file, file.name);
                });

                $.ajax({
                    type: "POST",
                    url: "/admin/mainSlider/create",
                    data: data,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function () {
                        location.reload();
                    }
                });
            });
            $('.thumbnail').click(function(e) {
                e.preventDefault();
               if(confirm("Удалить данный слайд?")) {
                   $.ajax({
                       type: "DELETE",
                       url: "/admin/mainSlider/" + e.target.id,
                       success: function (data) {
                           $(e.target).parent().remove();
                       },
                       error: function (jqXHR, textStatus, errorThrown) {
                           console.error(textStatus, errorThrown)
                       }
                   });
               }
            });
