extends layout

block content
    .text-center(style='padding:50px 0;')
        .logo login
        // Main Form
        .login-form-1
            form#login-form.text-left(action="/admin/login", method="POST")
                .login-form-main-message
                .main-login-form
                    .login-group
                        .form-group
                            label.sr-only(for='lg_username') Email
                            input#lg_username.form-control(type='email', name='email', placeholder='email')
                        .form-group
                            label.sr-only(for='lg_password') Password
                            input#lg_password.form-control(type='password', name='password', placeholder='password')
                    button.login-button(type='submit')
                        i.fa.fa-chevron-right
        // end:Main Form
