doctype html
html(lang='en')
    head
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
        link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
        link(type='text/css', rel='stylesheet', href='/stylesheet/custom.css')
        link(type='text/css', rel='stylesheet', href='/admin/stylesheet/custom.css')
        script(src='/javascripts/jquery.min.js')
        script(src='/javascripts/bootstrap.min.js')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(rel="shortcut icon" href="/images/constImages/favicon.ico" type="image/x-icon")
    body
        block content