extends layout
block content
    .container
        each file, i in files
            .row
                each  val in file
                    .col-xs-3
                        a.thumbnail
                            image(src=val)
    script.
        (function() {
            $('a').on('click', function(e) {
                var url = e.target.src;
                window.opener.CKEDITOR.tools.callFunction(#{CKEditorFuncNum}, url);
                window.close();
            });
        })()
