doctype html
html(lang='en')
    head
        link(type='text/css', rel='stylesheet', href='/stylesheet/custom.css')
        meta(charset='UTF-8')
        meta(content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no', name='viewport')
        title BELT-LIGHT
        script(src='/javascripts/jquery.min.js')
        link(rel="shortcut icon" href="/images/constImages/favicon.ico" type="image/x-icon")
    body
        block content